.contentMain{
    width: 980px;
}
.reason {
    font-size: 12px;
}
.tableCalendar  {
    width: 100%;
}
.bodyChild {
    width: 100%;
}
.day7 {
    width: 20px;
    height: 17px;
    border: none;
}
.Cword {
    background-color: violet;
}
.Coff {
    background-color: blue;
}
.Ctrip {
    background-color: chartreuse;
}

.headerMonth {
    background-color: #f23;
    text-align: center;
}
.headerDay {
    border: 1px solid black;
    width: 140px;
}
.rowC {
    border: 1px solid black;    
}

.DColor {
    height: 5px;
    background-color: green;
}
.workD {
    background-color: blueviolet;
}